<style>
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
</style>

<div class = "container mx-auto pt-75 bg-green-800 justify-center items-center">


<body class=" font-sans bg-green-800 text-white flex justify-center items-center h-screen">
  <div class="text-center">
    <h1 class="text-8xl font-bold">SAFE Team</h1>
    <p class="mt-2 font-semibold">HOURS: Sunday - Thursday (6:30pm - 2:00am)</p>
    <p class="mt-2">Need a ride? Our team will escort you to any place on campus.</p>

    <!-- Button -->
    <a href="#" class="mt-4 inline-block bg-white text-green-800 font-semibold py-2 px-6 rounded-full shadow-md hover:bg-gray-200 transition">
      BOOK A RIDE
    </a>

  </div>
</body>
</div>